<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlatironCross Clinic</title>
    <link href="/stylesheets/prescribe.css" type="text/css" rel="stylesheet">
</head>
    
<body>

    <header>
        <nav>
            <ul id="nav-bar">
                <a class="nav-link" href="/"><li>home</li></a>
                <a class="nav-link" href="/employee/<%=@current_employee.id%>/index"><li>employee portal</li></a>
                <%=add_log_out_button%>
            </ul>
        </nav>
    </header>  

        <form class="entry" action="/employee/<%=@current_employee.id%>/prescribe" method='POST' id='prescribe'>
            <p id='p_prof'>Prescribe <span>MEDS:</span></p>
            <div class='imgcontainer'>
                <img src='/medicine.svg' alt='Avatar' class='avatar'>
            </div>

            <div class='container'>
                <label class='patient' for='patient'><b>Prescribing for:</b></label>
                <select name='patient' form='prescribe' id='patient'>
                    <option value="default" selected>Prescribing for:</option> 
                    <% @patients.each do |x| %> 
                    <option value="<%=x.id%>"><%=x.detail.full_name%>, <%=x.detail.dob%></option>
                    <%end%>
                </select>

                <label class='rx' for='rx'><b>Rx name:</b></label>
                <input type='text' class='rx' placeholder='Enter rx..' name='rx' required>

                <label class='pill_count' for='pill_count'><b>Pill count:</b></label>
                <input class='pill_count' type='number' placeholder='Enter pill count..' name='pill_count' required>

                <label class='pill_size' for='pill_size'><b>Pill size (in mg):</b></label>
                <input class='pill_size' type='number' placeholder='Pill size in mg..' name='pill_size' required>
        
                <button onclick="prescribe()" type='submit'>Prescribe</button>
            </div>
        </form>

        <footer>
        <ul id="footer">
            <a class="footer-link"><li>All rights reserved © FlatironCROSS Clinic 2020 | powered by: oliverfeher</li></a> 
            <a id="employee_login"><li>Logged in as: <span><%=@current_employee.email%></span></li></a>        
        </ul>
    </footer>
    </body>
    <script>
        const prescribe = () => {
            alert("Prescribing successful!");
        }
    </script>
    </html>