<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FlatironCross Clinic</title>
        <link href="/stylesheets/user_index.css" type="text/css" rel="stylesheet">
    </head>
    
    <body>

     <header>
        <nav>
            <ul id="nav-bar">
                <a class="nav-link" href="/"><li>home</li></a>
                <a class="nav-link" href="#"><li>book</li></a>
                <a class="nav-link" href="#"><li>history</li></a>
                <a class="nav-link" href="#"><li>leave a review</li></a>
                <%=add_log_out_button%>
            </ul>
        </nav>
    </header>


        <h1>Welcome :</h1>
        <h1><%if @current_user.detail%>
        <%=@current_user.detail.full_name%>
        <%else%>
        <%=@current_user.email%></h1>
        <%end%>


        <%if @current_user.detail%>
        <%else%>
            <form action='/users/<%=@current_user.id%>/form' method='POST' id='details'>
            <%=add_user_detail_form%>
            </form>
        <%end%>
        
        </form>

    </body>
</html>